img{
   height:50px ;
   width:60px;
}
.width{
height: 106px;
width: 110px;
color: white;
}
.tools{
    background-color: rgba(0, 0, 0, 0.71);
}
.topic{
    color: white;
    text-align: center;
}
.slide{
    display: flex;
    justify-content: center;
}